{{!< default}}

{{#is "index"}}
<header class="header-section ">
  <div class="intro-header no-img">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>{{@blog.title}}</h1>
            <hr class="small">
            <span class="page-subheading">{{@blog.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{{/is}}