<header class="header-section ">
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{#is "post"}}post-heading{{else}}page-heading{{/is}}">
          <h1>{{title}}</h1>
          {{#is "post"}}
          <span class="post-meta">Posted on <time datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time></span>
          {{/is}}
        </div>
      </div>
    </div>
  </div>
</div>
</header>
