<!DOCTYPE html>
<html lang="en">

  <head>

    {{> head}}

    {{ghost_head}}
  </head>

  <body>

    {{> nav_bar}}

    {{> header_home}}
    {{> header_post_page}}

    {{{body}}}

    {{> footer}}

    {{ghost_foot}}
  </body>
</html>
